{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Speech to Text Application{% endblock %}

{% block content %}

    <style>
        .label-txt {
            font-size: 22px;
            font-weight: bold;
            color: #4285f4;
        }

        .lang-label {
            font-size: 16px;
            font-weight: bold;
            color: #0f9d58;
            padding-right: 5px;
        }

        img {
            padding: 0;
            display: block;
            margin: 0 auto;
            max-height: 80%;
            max-width: 80%;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {

            $("#sttbtn").click(function (event) {
                event.preventDefault();

                console.log('posting speech data');

                var form = $('#speech_post_form')[0];
                var data = new FormData(form);
                $('#sttbtn').prop('disabled', true);

                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: "/stt",
                    data: data,
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 600000,
                    success: function (data) {
                        console.log('handling speech recog result in success');
                        console.log(typeof(data));
                        console.log(data);
                        

                        if ('results' in data) {
                            $('#srheader').empty();
                            $('#srcontent').empty();

                            results = data['results'];
                            results.forEach(result => {
                                // console.log(result);
                                var cnt = 1;
                                alternatives = result['alternatives'];
                                alternatives.forEach(alternative => {
                                    console.log(alternative);
                                    $('#srheader').append(
                                        $('<li><a href="#stt-sentence" data-toggle="tab">認識結果</a></li>')
                                    );
                                    $('#srcontent').append(
                                        $(
                                            '<div role="tabpanel" class="tab-pane active" id="stt-sentence">'
                                            + alternative['transcript']
                                            + '</div>'
                                        )
                                    );                                   
                                });
                            });
                            $('#srheader').append(
                                $('<li><a href="#stt-data" data-toggle="tab">RAW</a></li>')
                            );
                            $('#srcontent').append(
                                $(
                                    '<div role="tabpanel" class="tab-pane active" id="stt-data">'
                                    + JSON.stringify(data, null , "\t")
                                    + '</div>'
                                )
                            ); 
                            $('.nav-tabs a[href="#stt-data"]').tab('show');
                                  

                        } else if ('sentence' in data) {
                            console.log('julius results detected');
                            $('#srheader').empty();
                            $('#srcontent').empty();
                            $('#srheader').append(
                                $('<li><a href="#stt-sentence" data-toggle="tab">認識結果</a></li>')
                            );
                            $('#srcontent').append(
                                $(
                                    '<div role="tabpanel" class="tab-pane active" id="stt-sentence">'
                                    + data['sentence']
                                    + '</div>'
                                )
                            );
                            $('#srheader').append(
                                $('<li><a href="#stt-phone" data-toggle="tab">音素列</a></li>')
                            );
                            $('#srcontent').append(
                                $(
                                    '<div role="tabpanel" class="tab-pane active" id="stt-phone">'
                                    + data['phonemeseq']
                                    + '</div>'
                                )
                            );
                            $('#srheader').append(
                                $('<li><a href="#stt-word" data-toggle="tab">単語列</a></li>')
                            );
                            $('#srcontent').append(
                                $(
                                    '<div role="tabpanel" class="tab-pane active" id="stt-word">'
                                    + data['wordseq']
                                    + '</div>'
                                )
                            );
                            $('#srheader').append(
                                $('<li><a href="#stt-data" data-toggle="tab">RAW</a></li>')
                            );
                            $('#srcontent').append(
                                $(
                                    '<div role="tabpanel" class="tab-pane active" id="stt-data">'
                                    + JSON.stringify(data, null , "\t")
                                    + '</div>'
                                )
                            );
                            $('.nav-tabs a[href="#stt-data"]').tab('show');

                        } else {
                            $('#srheader').empty();
                            $('#srcontent').empty();
                            $('#srheader').append(
                                $('<li><a href="#stt-text" data-toggle="tab">認識結果</a></li>')
                            );
                            $('#srcontent').append(
                                $(
                                    '<div role="tabpanel" class="tab-pane active" id="stt-text">'
                                    + data['text']
                                    + '</div>'
                                )
                            );

                            $('#srheader').append(
                                $('<li><a href="#stt-data" data-toggle="tab">RAW</a></li>')
                            );
                            $('#srcontent').append(
                                $(
                                    '<div role="tabpanel" class="tab-pane active" id="stt-data">'
                                    + JSON.stringify(data, null , "\t")
                                    + '</div>'
                                )
                            );
                            $('.nav-tabs a[href="#stt-data"]').tab('show');
                        }
                        $('#sttbtn').prop('disabled', false);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log("XMLHttpRequest : " + XMLHttpRequest.status);
                        console.log("textStatus     : " + textStatus);
                        console.log("errorThrown    : " + errorThrown.message);
                        $('#srheader').append(
                                $('<li><a href="#stt-data" data-toggle="tab">ERROR</a></li>')
                            );
                        $('#srcontent').append(
                            $(
                                '<div role="tabpanel" class="tab-pane active" id="stt-data">'
                                + "XMLHttpRequest : " + XMLHttpRequest.status + '<br>'
                                + "textStatus     : " + textStatus + '<br>'
                                + "errorThrown    : " + errorThrown.message
                                + '</div>'
                            )
                        );

                        $('#sttbtn').prop('disabled', false);
                    }
                });
            });
        });
    </script>

    <div class="container">
        <h1 style="text-align: center;">
            <span style="color: #0f9d58;">Text to Speech<br /></span>
            </span>
        </h1>

        <div class="row">
            <div class="col-md-16">
                <form action="" method="post" enctype="multipart/form-data" novalidate id="speech_post_form">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <br><br>
                        {{ form.speech.label(class_='label-txt') }}<br>
                        {{ form.speech() }}<br>
                        {{ form.engine.label(class_='label-txt') }} {{ form.engine(formvalidate=True) }}<br>

                    </div>
                    <button class="btn btn-primary" id="sttbtn">Speech to Text</button>
                </form>
            </div>
            <br><br>
        </div>

        <div class="row">
            <div class="col-md-16">

                <div class="panel panel-default" id="'srpanel'">
                    <div class="panel-heading">
                        <!-- 音声認識結果 -->
                        <ul class="nav nav-tabs" id="srheader">
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content" id="srcontent">
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
{% endblock %}
