{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Text to Speech Application{% endblock %}

{% block content %}

    <style>
        .label-txt {
            font-size: 22px;
            font-weight: bold;
            color: #4285f4;
        }

        .lang-label {
            font-size: 16px;
            font-weight: bold;
            color: #0f9d58;
            padding-right: 5px;
        }

        img {
            padding: 0;
            display: block;
            margin: 0 auto;
            max-height: 80%;
            max-width: 80%;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <script>
    $(document).ready(function () {

        $("#ttsbtn").click(function (event) {
            event.preventDefault();

            console.log('posting text data');

            var form = $('#tts_form')[0];
            var data = new FormData(form);
            console.log(data);

            var get_options = {
                text: data.get('text_field'),
                language: data.get('language_options'),
                gender: data.get('gender_options'),
                input_type: data.get('input_type')
            }

            console.log(get_options);

            // var url = new UR('/tts/convert');
            var search = new URLSearchParams(get_options); 
            var audio = $('<audio controls autoplaystyle="height: 30px; width: 500px;"></audio>');
            console.log('/tts/convert?' + search.toString());
            audio.attr('src', '/tts/convert?' + search.toString());
            $('#tts_results').append(audio);
        });

    });
    </script>


    <div class="container">
        <h1 style="text-align: center;">
            <span style="color: #0f9d58;">Text to Speech<br /></span>
            </span>
        </h1>

        <div class="row">
            <div class="col-md-16">
                <form action="" method="post" novalidate id="tts_form">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <br><br>
                        {{ form.text_field.label(class_='label-txt') }}<br>
                        {{ form.text_field(rows=10, cols=180, class_='form-control') }}<br>
                        {{ form.gender_options.label(class_='lang-label') }} {{ form.gender_options(formnovalidate=True) }}<br>
                        {{ form.input_type.label(class_='lang-label') }} {{ form.input_type(formnovalidate=True) }}
                    </div>
                    <!-- {{ form.submit(class_='btn btn-default') }} -->
                    <button class="btn btn-primary" id="ttsbtn">Text to Speech</button>

                </form>
            </div>
            <br><br>
        </div>

        <div class="row">
            <div class="col-md-16">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <!-- 音声認識結果 -->
                        音声合成結果
                    </div>
                    <div class="panel-body" id="tts_results">
                        <p>ここには音声合成の結果が入ります</p>
                    </div>
                </div>
            
            </div>
        </div>

    </div>>
{% endblock %}
